<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permission para usar la cámara (runtime permission también requerida) -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Optional: declare feature (not required) -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
